@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

/*stilo do nabvar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", "Roboto Condensed", "Baloo 2", sans-serif;
}

.navbar {
    position: fixed;
    padding: 10px 0;
    width: 100%;
    z-index: 9;
}

.navbar.sticky {
    background: #00B4DB;
    padding: 5px 0;
    transition: 0.8s;
}

.navbar.sticky .logo a span {
    color: #000;
    transition: 0.8s;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 600;
}

.navbar .logo a span {
    color: #00B4DB;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #00B4DB;
}

.navbar.sticky .menu li a:hover {
    color: #111;
}


/* botao menu stilo */

.navbar .menu-btn {
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}


/*stilo da home*/

.home {
    display: flex;
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
}

.home .img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.home .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .banner {
    margin: auto 0 auto 40px;
    position: absolute;
    margin-top: 20%;
    margin-left: 7%;
}

.home .banner .text-1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 3.5rem;
    margin-bottom: .5rem;
}

.home .banner .text-2 {
    color: #ffffff;
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: .5rem;
}

.home .banner .text-3 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 200;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

.home .banner .text-3 span {
    color: #00B4DB;
}

.banner button {
    background: none;
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 10px;
    border-color: #00B4DB;
    cursor: pointer;
}

.banner button:hover {
    background-color: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    opacity: 0.9;
    transition: color 0.3s ease;
}


/* STILO DE TODAS AS SECTIOS */

section {
    padding: 5rem 0;
}


/* STILO DA SECAO SOBRE MIM */

.sobreMim .tittle {
    position: relative;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3rem;
    font-weight: 500;
}

.sobreMim .tittle::before {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    transform: translateX(-50%);
}

.sobreMim .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.sobreMim .container .column-left {
    width: 45%;
}

.sobreMim .container .column-right {
    width: 55%;
}

.sobreMim .container .column-right .text {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.sobreMim .container .column-right .text span {
    color: #00B4DB;
}

.sobreMim .container .column-right p {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 20px;
}

.sobreMim .container .column-right button {
    background-color: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    padding: 1rem 3rem;
    border-radius: 10px;
    border-color: #00B4DB;
    cursor: pointer;
}

.sobreMim .container .column-right button:hover {
    background: none;
    color: #111;
    opacity: 0.9;
    transition: color .9s ease;
}

.sobreMim .container .container .column-left .img-wrapper {
    width: 70%;
    height: 70%;
    overflow: hidden;
    align-items: center;
}

.sobreMim .container .column-left img {
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 20px;
}


/* STILO DA SECAO PROJETOS */

.projetos {
    background: #111;
    color: #fff;
}

.projetos .tittle {
    position: relative;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3rem;
    font-weight: 500;
}

.projetos .tittle::before {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    transform: translateX(-50%);
}

.projetos .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 4rem;
}

.projetos .container .card {
    width: calc(25% - 20px);
    background-color: #222;
    text-align: center;
    padding: 20px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.projetos .container .card:hover {
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
}

.projetos .container .card .box {
    transition: all 0.3 ease;
}

.projetos .container .card:hover .box {
    transform: scale(1.05);
}

.projetos .container .card .text {
    font-size: 1.5rem;
    font-weight: 500px;
    margin: 10px 0 7px 0;
}


/* STILO DA SKILLS */

.skills .tittle {
    position: relative;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3rem;
    font-weight: 500;
}

.skills .tittle::before {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 380px;
    height: 3px;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    transform: translateX(-50%);
}

.skills .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 4rem;
}

.skills .container .column {
    width: calc(50% - 30px);
}

.skills .container .left .text {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.skills .container .left p {
    font-size: 1rem;
    text-align: justify;
}

.skills .container .right .bars {
    margin-bottom: 15px;
}

.skills .container .right .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .container .right .linha {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .container .right .linha::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
}

.skills .container .right .html::before {
    width: 70%;
}

.skills .container .right .CSS::before {
    width: 50%;
}

.skills .container .right .JavaScript::before {
    width: 20%;
}

.skills .container .right .C::before {
    width: 40%;
}

.skills .container .right .SQL::before {
    width: 15%;
}

.skills .container .right .git::before {
    width: 50%;
}


/* CONFIGURANDO A QUERY PARA RESPONSIVIDADE */

@media (max-width:1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width:1120px) {
    .sobreMim .tittle,
    .projetos .tittle {
        font-size: 1.8rem;
    }
    .sobreMim .container .column-left img {
        height: 450px;
        width: 450px;
    }
    .sobreMim .container .column-left .column-right {
        width: 50%;
    }
    .sobreMim .container .column-left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .sobreMim .container .column-right {
        flex: 100%;
    }
    .projetos .container .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width:988px) {
    .navbar .max-width {
        padding: 0 5% 0 5%;
    }
    .navbar .menu-btn {
        display: block;
        z-index: 999;
    }
    .navbar .menu-btn i.active::before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: #111;
        padding-top: 2rem;
        text-align: center;
    }
    .navbar .menu.active {
        right: 0%;
        transition: all 2s ease;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 1.8rem;
        font-size: 1.8rem;
    }
    .home .banner {
        margin-top: 30%;
    }
    .home .banner .text-1 {
        font-size: 1.8rem;
    }
    .home .banner .text-2 {
        font-size: 3.8rem;
    }
    .home .banner .text-3 {
        font-size: 1.8rem;
    }
    .max-width {
        max-width: 800px;
    }
    .sobreMim .tittle,
    .skills .tittle {
        font-size: 1.5rem;
    }
    .sobreMim .container .column-right .text,
    .skills .container .left .text {
        font-size: 1.3rem;
    }
    .sobreMim .container .column-right p,
    .skills .container .column-left p {
        font-size: 1rem;
    }
    .projetos .container .card {
        width: 100%
    }
    .skills .container .column {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width:550px) {
    .sobreMim .container .column-left img {
        height: 280px;
        width: 280px;
    }
}

@media (max-width:450px) {
    .home .banner {
        margin-top: 50%;
    }
    .home .banner .text-1 {
        font-size: 1.5rem;
    }
    .home .banner .text-2 {
        font-size: 3.5rem;
    }
    .home .banner .text-3 {
        font-size: 1rem;
    }
    .sobreMim .tittle {
        font-size: 1.2rem;
    }
}